$primary-color: #5956E9;
$secundary-color: #4745d8;
$primary-text-color: #232233;
$gray-paragraphs-text-color: #6C6C72;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: Josefin Sans, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    header {
        display: flex;
        flex-direction: column;
        position: fixed;

        padding: 2%;

        width: 90%;

        .headerTopWrapper {
            display: flex;
            justify-content: space-between;

            width: 100%;

            .headerTopWrapperContactButtons {
                display: flex;
                gap: 10px;

                span {
                    display: flex;
                    align-items: center;
                    gap: 15px;

                    cursor: pointer;

                    p {
                        color: var(--white, #FFF);

                        font-size: small;
                        font-style: normal;
                        font-weight: 500;
                    }
                }
            }

            .headerTopWrapperSocialMidiasButtons {
                .socialMidiasButtonsContant {
                    display: flex;
                    gap: 20px;

                    img {
                        cursor: pointer;
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }

        .headerBottomWrapper {
            display: flex;
            align-items: center;

            background-color: #FFF;
            border-radius: 5px;

            height: 60px;

            padding: min(35px, 2%);
            margin-top: 20px;

            span {
                display: flex;
                justify-content: space-around;

                align-items: center;

                gap: 20px;

                .headerBottomWrapperNavBarButton {
                    color: $primary-text-color;

                    text-decoration: none;

                    font-style: normal;
                    font-weight: 500;

                    &:hover {
                        color: $primary-color;

                        text-decoration-line: underline;
                    }
                }

                .headerBottomWrapperNavBarDownloadButton {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    flex-shrink: 1;

                    cursor: pointer;

                    background-color: $primary-color;

                    min-width: 72px;
                    min-height: 34px;
                    max-height: 90px;

                    padding: 2%;

                    border-radius: 5px;

                    a {
                        text-decoration: none;
                        color: #FFF;

                        margin: 5px;

                        font-size: min(20px, 1.8vw);
                    }

                    &:hover {
                        background-color: $secundary-color;
                    }
                }
            }

            .menuLine {
                display: none;
            }

            .headerBottomWrapperApollyButtonContainer {
                width: 100%;

                padding-left: 5%;

                display: flex;
                justify-content: center;

                position: relative;

                .headerBottomWrapperApollyButton {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    background-color: #FFF;


                    width: 12.5rem;
                    height: 5.625rem;

                    border-radius: .3125rem;

                    a {
                        text-align: center;

                        img {
                            width: 80%;
                        }
                    }
                }
            }
        }

        a {
            font-size: min(20px, 1.5vw);
        }
    }

    main {
        width: 100%;

        .homeSection {
            display: flex;
            justify-content: center;

            gap: 40px;

            padding: 5%;
            padding-top: 20vh;

            background-image: url("../assets/background/bg-img.svg");
            background-size: cover;
            background-repeat: no-repeat;

            .homeSectionLeftWrapper {
                display: flex;
                align-items: center;
                justify-content: center;

                position: relative;

                width: 100%;
                height: 100%;

                .homeSectionLeftWrapperBoxContant {
                    display: flex;
                    flex-direction: column;

                    justify-content: space-around;

                    width: 75%;
                    min-height: 75%;

                    gap: 5%;

                    position: absolute;

                    padding: 2%;

                    right: 20%;
                    top: 10%;

                    background-color: #FFF;


                    div {
                        div {
                            img {
                                width: 2095%;

                                cursor: pointer;
                            }
                        }
                    }

                    h1 {
                        color: $primary-color
                    }
                }

                img {
                    width: 75%;
                }
            }

            .homeSectionRigthWrapper {
                display: flex;
                justify-content: center;

                padding-left: 20%;

                width: 100%;

                img {
                    width: 100%;
                }
            }

        }

        .aboutSection {
            display: flex;
            flex-direction: column;
            align-items: center;

            padding: 5%;
            gap: 80px;


            span {
                display: flex;
                flex-direction: column;
                text-align: center;

                width: 80%;
            }

            .aboutSectionBottomContainer {
                display: flex;
                justify-content: space-between;
                gap: 50px;


                .aboutSectionBottomContainerLeftWrapper {
                    width: 75%;
                }

                .aboutSectionBottomContainerRigthWrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    gap: 80px;


                    .aboutSectionTextBoxContant {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        div {
                            display: flex;
                            gap: 10px;
                        }

                        p {
                            text-align: start;
                        }
                    }
                }

            }
        }

        .featuresSection {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            background-image: url("../assets/background/bg-img.svg");
            background-size: cover;

            color: #FFF;

            padding: 10%;

            gap: 50px;

            span {
                display: flex;
                flex-direction: column;
                text-align: center;

                width: 80%;
            }

            .featuresSectionAppInterface {
                display: grid;
                gap: 25px;
                grid-template-columns: repeat(3, 1fr);

                div {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }

                .text-box1 {
                    grid-column: 1/4;
                }

                .text-box2 {
                    grid-row: 2/3;
                    padding-top: 25%;
                }

                .text-box3 {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    grid-row: 2/5;
                }

                .text-box4 {
                    grid-row: 2/3;
                    padding-top: 25%;
                }

                .text-box5 {
                    grid-row: 4/5;
                    padding-bottom: 25%;
                }

                .text-box6 {
                    grid-row: 4/5;
                    padding-bottom: 25%;
                }

                .text-box7 {
                    grid-column: 1/4;
                }

                .featuresSectionAppInterfaceSurfacesTextBox {
                    align-items: center;
                }

                .featuresSectionAppInterfaceLeftSideTextBox {
                    align-items: end;
                    text-align: end;
                }

                .featuresSectionAppInterfaceRigthSideTextBox {
                    align-items: start;
                    text-align: start;
                }
            }
        }

        .appInterfaceSection {
            display: flex;
            flex-direction: column;

            min-height: 100vh;

            padding: 5%;

            text-align: center;

            .appInterfaceSectionMainSlider {
                .swiper {
                    max-width: 100vh;

                    .swiper-wrapper {
                        .swiper-slide {
                            img {
                                width: 30%;
                            }
                        }
                    }
                }
            }

            .appInterfaceSectionBottomDownloadAppWrapper {
                display: flex;
                gap: 50px;


                .appInterfaceSectionDownloadAppWrapperLeftContantBox {
                    display: flex;
                    flex-direction: column;

                    width: 100%;

                    gap: 50px;

                    text-align: start;

                    .downloadTextBoxContant {
                        display: flex;
                        flex-direction: column;

                        div {
                            display: flex;
                            gap: 2%;

                            cursor: pointer;
                            width: 100%;

                            img {
                                min-width: 25%;
                            }
                        }
                    }

                    .ratingTextBox {
                        display: flex;
                        gap: 5%;

                        .ratingTextBoxContant {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            text-align: center;

                            min-width: 30%;

                            padding: 2%;

                            color: #FFF;

                            border-radius: .625rem;

                            gap: 15px;

                            background-color: $primary-color;

                            img {
                                width: 25px;
                            }
                        }
                    }
                }

                .appInterfaceSectionDownloadAppWrapperRightImgBox {
                    width: 100%;

                    img {
                        width: 80%;
                    }
                }
            }
        }

        .howToUseSection {
            display: flex;
            flex-direction: column;
            align-items: center;

            position: relative;

            text-align: center;

            color: #FFF;

            main {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                padding: 5%;

                width: 100%;
                min-height: 45vh;

                background-image: url("../assets/background/bg-img.svg");
                background-size: cover;

                p {
                    width: 70%;
                }
            }

            img {
                position: absolute;

                height: 100%;

                top: 50%;

                width: 100%;
            }
        }

        .ourTeamSection {
            display: flex;
            flex-direction: column;
            justify-content: center;

            text-align: center;

            padding: 5%;
            padding-top: 20%;

            width: 100%;

            span {
                display: flex;
                flex-direction: column;
                align-items: center;

                p {
                    width: 50%;
                }
            }

            main {
                display: flex;
                gap: 50px;

                .teamProfileContant {
                    .teamProfileImg {
                        width: 50%;
                    }

                    .teamProfileContantSocialMidias {
                        display: flex;
                        justify-content: space-around;

                        img {
                            cursor: pointer;
                            width: 100%;
                        }
                    }
                }
            }
        }

        .ourHappyCostumersSection {
            text-align: center;

            padding: 5%;

            background-image: url("../assets/background/bg-img.svg");
            background-size: cover;

            color: #FFF;

            span {
                display: flex;
                flex-direction: column;
                align-items: center;

                width: 100%;

                p {
                    width: 70%;
                }
            }

            .swiper {
                display: flex;
                flex-direction: column;

                width: 35%;

                gap: 10px;

                .swiper-wrapper {
                    display: flex;

                    .swiper-slide {
                        color: $primary-text-color;

                        border-radius: 10px;

                        padding: 5%;

                        background-color: #FFF;
                    }
                }

                .swiper-pagination {
                    display: flex;
                    justify-content: center;

                    position: static;

                    span {
                        height: 20px;
                        width: 20px;

                        background-color: #FFF;
                    }
                }
            }
        }

        .ourRecentBlogSection {
            display: flex;
            flex-direction: column;
            justify-content: center;

            padding: 5%;

            span {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                width: 100%;

                p {
                    width: 50%;
                }
            }

            .blogLinkContainer {
                display: flex;
                justify-content: space-around;

                padding-bottom: 10%;

                gap: 10px;

                .blogLinkContant {
                    display: flex;
                    flex-direction: column;
                    align-items: start;

                    text-decoration: none;
                    color: $primary-text-color;

                    transition: 0.5s;

                    img {
                        width: 100%;
                    }

                    a {
                        width: 200%;
                    }

                    &:hover {
                        opacity: 80%;
                    }
                }
            }
        }
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;

        position: relative;

        width: 100%;

        .footerTopWrapper {
            display: flex;

            gap: 20px;

            position: absolute;

            padding: 5%;

            background-color: #FFF;

            border-radius: 30px;

            width: 80%;

            bottom: 90%;

            hr {
                display: flex;

                border: 2px solid $gray-paragraphs-text-color;
            }

            .footerTopWrapperRigthTextBox {
                display: flex;
                align-items: center;

                width: 100%;

                gap: 10px;

                span {
                    background-color: $primary-color;
                    padding: 4%;
                    border-radius: 50px;

                    img {
                        width: 25px;
                    }
                }
            }

            .footerTopWrapperLeftTextBox {
                @extend .footerTopWrapperRigthTextBox
            }
        }

        .footerMainWrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            background-color: $primary-text-color;

            padding: 2%;
            padding-left: 10%;
            padding-right: 10%;
            padding-top: 10%;

            width: 100%;

            color: #FFF;

            gap: 50px;

            div {
                width: 100%;
            }

            .footerMainWrapperLinksContainer {
                display: flex;
                gap: 50px;

                .footerBottomWrapperLogoArea {
                    display: flex;
                    flex-direction: column;
                    height: 100%;

                    gap: 25px;

                    div {
                        display: flex;
                        justify-content: space-between;

                        width: 100%;
                    }
                }

                .footerBottomWrapperLinksArea {
                    display: flex;
                    flex-direction: column;

                    div {
                        display: flex;
                        flex-direction: column;

                        height: 100%;

                        gap: 20px;

                        a {
                            text-decoration: none;
                            color: #FFF;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }

                .footerBottomWrapperNewsLetterArea {

                    form {
                        display: flex;
                        flex-direction: column;

                        height: 100%;

                        gap: 25px;

                        div {
                            display: flex;

                            padding: 0.5%;

                            border-radius: 4px;

                            background-color: #FFF;

                            input {
                                width: 100%;

                                border: none;
                                outline: none;

                                padding: 2%;
                            }

                            button {
                                background-color: $primary-color;

                                padding: 2.5%;

                                cursor: pointer;

                                border: none;
                                border-radius: 4px;
                                outline: none;

                                &:hover {
                                    background-color: $secundary-color;
                                }
                            }
                        }
                    }
                }
            }

            .footerBottomWrapper {
                display: flex;
                flex-direction: column;

                gap: 20px;
                text-align: center;
            }
        }
    }

    .unactivatedHambugerMenuWrapperButtons {
        display: none;
    }

    .activatedHambugerMenuWrapper {
        display: flex !important;
        justify-content: end;

        position: absolute;

        width: 100%;

        .activatedHambugerMenuWrapperButtons {
            display: flex !important;
            flex-direction: column;
            justify-content: center;

            padding: 5%;

            position: fixed;

            gap: 25px;

            background-color: #FFF;

            width: 50vw;

            a {
                color: $primary-text-color;

                text-decoration: none;

                font-size: 1.2rem;

                &:hover {
                    color: $primary-color;

                    text-decoration-line: underline;
                }
            }
        }
    }

}


.gray-paragraphs {
    color: $gray-paragraphs-text-color;
    font-style: normal;
    font-weight: 400;
}

.white-paragraphs {
    color: #FFF;
    font-style: normal;
    font-weight: 400;
}


@media (max-width: 780px) {
    .headerTopWrapper {
        display: none !important;
    }

    .headerBottomWrapperNavBarButton {
        display: none !important;
    }

    .headerBottomWrapper {
        height: 2.5rem !important;

        .headerBottomWrapperApollyButtonContainer {

            .headerBottomWrapperApollyButton {
                width: 6.25rem !important;
                height: 3.75rem !important;
            }
        }
    }

    .menuLine {
        display: block !important;
    }

    .homeSection {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aboutSectionBottomContainer {
        flex-direction: column;
        align-items: center;
    }


    .featuresSectionAppInterface {
        display: flex !important;
        flex-direction: column;

        .box {
            text-align: center !important;
            align-items: center !important;

            padding: 0 !important;
        }
    }


    .appInterfaceSectionBottomDownloadAppWrapper {
        flex-direction: column;
        align-items: center;
    }

    .teamProfileContainer {
        flex-direction: column;
    }

    .ourHappyCostumersSection {
        .swiper {
            width: 100% !important;
        }
    }

    .blogLinkContainer {
        flex-direction: column;

        padding-bottom: 50% !important;
    }

    .footerTopWrapper {
        flex-direction: column;
        align-items: center;

        div {
            flex-direction: column;
        }

        hr {
            width: 50%;
        }
    }

    .footerMainWrapperLinksContainer {
        flex-direction: column;

        padding-top: 25%;
    }
}