$primary-color: #5956E9;
$secundary-color: #4745d8;
$primary-text-color: #232233;
$gray-paragraphs-text-color: #6C6C72;

@mixin personalize-bg($bg-color, $padding, $text-color, $border-radius) {
    background-color: $bg-color;
    padding: $padding;
    color: $text-color;
    border-radius: $border-radius;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: Josefin Sans, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    header {
        display: flex;
        flex-direction: column;
        position: absolute;

        padding: 2%;
        gap: 20px;

        width: 80%;

        .headerTopWrapper {
            display: flex;
            justify-content: space-between;

            width: 100%;

            .headerTopWrapperContactButtons {
                display: flex;
                gap: 10px;

                span {
                    display: flex;
                    align-items: center;
                    gap: 15px;

                    cursor: pointer;

                    p {
                        color: var(--white, #FFF);

                        font-size: small;
                        font-style: normal;
                        font-weight: 500;
                    }
                }
            }

            .headerTopWrapperSocialMidiasButtons {
                .socialMidiasButtonsContant {
                    display: flex;
                    gap: 20px;

                    img {
                        cursor: pointer;
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }

        .headerBottomWrapper {
            display: flex;
            justify-content: space-around;
            align-items: center;

            background-color: #FFF;
            border-radius: 5px;

            height: 60px;

            padding: 2%;

            span {
                display: flex;

                align-items: center;
                gap: 20px;

                font-size: 20px;

                .headerBottomWrapperNavBarButton {
                    color: $primary-text-color;

                    text-decoration: none;

                    font-style: normal;
                    font-weight: 500;

                    &:hover {
                        color: $primary-color;

                        text-decoration-line: underline;
                    }
                }

                .headerBottomWrapperNavBarDownloadButton {
                    @include personalize-bg($primary-color, 2%, #FFF, 5px);

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    height: 3rem;

                    text-decoration: none;

                    &:hover {
                        background-color: $secundary-color;
                    }
                }
            }

            .headerBottomWrapperApollyButton {
                display: flex;
                justify-content: center;
                align-items: center;

                background-color: #FFF;

                width: 12.5rem;
                height: 5.625rem;
                flex-shrink: 0;

                border-radius: .3125rem;
            }
        }
    }

    main {
        width: 100%;

        .homeSection {
            display: flex;
            justify-content: center;

            padding: 5%;
            padding-top: 15%;

            background-image: url("/src/assets/background/bg-img.svg");
            background-size: cover;
            background-repeat: no-repeat;

            .homeSectionLeftWrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                width: 100%;
                height: 100%;

                .homeSectionLeftWrapperBoxContant {
                    display: flex;
                    flex-direction: column;

                    justify-content: space-around;

                    width: 50%;
                    height: 75%;

                    gap: 5%;

                    padding: 2%;

                    position: absolute;
                    right: 30%;
                    top: 10%;


                    background-color: #FFF;

                    h1 {
                        color: $primary-color;
                        font-size: 48.8301px;
                    }

                    h2 {
                        font-size: 25px;
                    }

                    div {
                        div {
                            img {
                                width: 25%;

                                cursor: pointer;
                            }
                        }
                    }
                }

                img {
                    width: 50%;
                }
            }

            img {
                width: 40.375rem;
            }

        }

        .aboutSection {
            display: flex;
            flex-direction: column;
            align-items: center;

            padding: 5%;
            gap: 80px;


            span {
                display: flex;
                flex-direction: column;
                text-align: center;

                width: 80%;
            }

            .aboutSectionBottomContainer {
                display: flex;
                justify-content: space-between;
                gap: 20%;


                .aboutSectionBottomContainerLeftWrapper {
                    width: 75%;
                }

                .aboutSectionBottomContainerRigthWrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    gap: 80px;


                    .aboutSectionTextBoxContant {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        div {
                            display: flex;
                            gap: 10px;
                        }

                        p {
                            text-align: start;
                        }
                    }
                }

            }
        }

        .featuresSection {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            background-image: url("/src/assets/background/bg-img.svg");
            background-size: cover;

            color: #FFF;

            padding: 10%;

            gap: 50px;

            span {
                display: flex;
                flex-direction: column;
                text-align: center;

                width: 80%;
            }

            .featuresSectionAppInterface {
                display: grid;
                gap: 2%;
                grid-template-columns: repeat(3, 1fr);

                div {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }

                .text-box1 {
                    grid-column: 1/4;
                }

                .text-box2 {
                    grid-row: 2/3;
                    padding-top: 25%;
                }

                .text-box3 {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    grid-row: 2/5;
                }

                .text-box4 {
                    grid-row: 2/3;
                    padding-top: 25%;
                }

                .text-box5 {
                    grid-row: 4/5;
                    padding-bottom: 25%;
                }

                .text-box6 {
                    grid-row: 4/5;
                    padding-bottom: 25%;
                }

                .text-box7 {
                    grid-column: 1/4;
                }

                .featuresSectionAppInterfaceSurfacesTextBox {
                    align-items: center;
                }

                .featuresSectionAppInterfaceLeftSideTextBox {
                    align-items: end;
                    text-align: end;
                }

                .featuresSectionAppInterfaceRigthSideTextBox {
                    align-items: start;
                    text-align: start;
                }
            }
        }

        .appInterfaceSection {
            display: flex;
            flex-direction: column;

            min-height: 100vh;

            padding: 5%;

            text-align: center;

            .appInterfaceSectionMainSlider {
                .swiper {
                    max-width: 100vh;

                    .swiper-wrapper {
                        .swiper-slide {
                            img {
                                width: 30%;
                            }
                        }
                    }
                }
            }

            .appInterfaceSectionBottomDownloadAppWrapper {
                display: flex;
                gap: 10%;

                .appInterfaceSectionDownloadAppWrapperLeftContantBox {
                    display: flex;
                    flex-direction: column;

                    gap: 10%;

                    text-align: start;

                    .downloadTextBoxContant {
                        display: flex;
                        flex-direction: column;

                        div {
                            display: flex;
                            gap: 10%;

                            cursor: pointer;

                            width: 20%;
                        }
                    }

                    .ratingTextBox {
                        display: flex;
                        gap: 5%;

                        div {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;

                            width: 100%;

                            padding: 2%;

                            color: #FFF;

                            border-radius: .625rem;

                            gap: 15px;

                            background-color: $primary-color;

                            img {
                                width: 25px;
                            }
                        }
                    }
                }

                img {
                    width: 100%;
                }
            }
        }

        .howToUseSection {
            display: flex;
            flex-direction: column;
            align-items: center;

            position: relative;

            height: 100%;
            width: 100%;

            text-align: center;

            color: #FFF;

            main {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                width: 100%;
                min-height: 30vh;

                background-image: url("/src/assets/background/bg-img.svg");
                background-size: 100%;

                p {
                    width: 50%;
                }
            }

            img {
                position: absolute;
                top: 50%;
                padding-top: 2.5%;
                width: 32%;
            }
        }

        .ourTeamSection {
            display: flex;
            flex-direction: column;
            justify-content: center;

            text-align: center;

            padding: 5%;
            padding-top: 20%;

            width: 100%;

            span {
                display: flex;
                flex-direction: column;
                align-items: center;

                p {
                    width: 50%;
                }
            }

            main {
                display: flex;
                gap: 5%;

                .teamProfileContant {

                    .teamProfileContantSocialMidias {
                        display: flex;
                        justify-content: space-around;

                        img {
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .ourHappyCostumersSection {
            text-align: center;

            padding: 5%;

            background-image: url(/src/assets/background/bg-img.svg);
            background-size: 100%;

            color: #FFF;

            span {
                display: flex;
                flex-direction: column;
                align-items: center;

                width: 100%;

                p {
                    width: 50%;
                }
            }

            .swiper {
                display: flex;
                flex-direction: column;

                width: 75vh;

                gap: 10px;

                .swiper-wrapper {
                    display: flex;

                    .swiper-slide {

                        color: $primary-text-color;

                        border-radius: 10px;

                        padding: 5%;

                        background-color: #FFF;
                    }
                }

                .swiper-pagination {
                    display: flex;
                    justify-content: center;

                    position: static;

                    span {
                        height: 20px;
                        width: 20px;

                        background-color: #FFF;
                    }
                }
            }
        }

        .ourRecentBlogSection {
            display: flex;
            flex-direction: column;
            justify-content: center;

            padding: 5%;

            span {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                width: 100%;

                p {
                    width: 50%;
                }
            }

            .blogLinkContainer {
                display: flex;
                justify-content: space-around;

                gap: 5%;

                .blogLinkContant {
                    display: flex;
                    flex-direction: column;
                    align-items: start;

                    text-decoration: none;
                    color: $primary-text-color;

                    transition: 0.5s;

                    img {
                        width: 100%;
                    }

                    a {
                        width: 200%;
                    }

                    &:hover {
                        opacity: 80%;
                    }
                }
            }
        }
    }

    footer {
        display: flex;
        flex-direction: column;

        gap: 100px;

        padding: 2%;
        padding-left: 10%;
        padding-right: 10%;
        width: 100%;
        background-color: $primary-text-color;

        .footerTopWrapper {
            display: flex;
            align-items: center;
            justify-content: center;

            position: relative;

            padding: 8%;

            background-color: #FFF;

            border-radius: 30px;

            width: 100%;

            .footerTopWrapperLeftTextBox {
                display: flex;
                align-items: center;

                gap: 2%;

                width: 100%;

                span {
                    background-color: $primary-color;
                    padding: 4%;
                    border-radius: 50px;

                    img {
                        width: 25px;
                    }
                }
            }

            .footerTopWrapperRigthTextBox {
                @extend .footerTopWrapperLeftTextBox;
                border-left: 3px solid $gray-paragraphs-text-color;
                padding-left: 2%;
            }
        }

        .footerMainWrapper {
            display: flex;
            justify-content: space-around;
            color: #FFF;
            gap: 10%;

            div {
                width: 100%;
            }

            .footerBottomWrapperLogoArea {
                display: flex;
                flex-direction: column;
                height: 100%;

                gap: 25px;

                div {
                    display: flex;
                    justify-content: space-between;

                    width: 80%;
                }
            }

            .footerBottomWrapperLinksArea {
                display: flex;
                flex-direction: column;
                gap: 10%;

                div {
                    display: flex;
                    flex-direction: column;

                    height: 100%;

                    gap: 15%;

                    a {
                        text-decoration: none;
                        color: #FFF;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            .footerBottomWrapperNewsLetterArea {

                form {
                    display: flex;
                    flex-direction: column;

                    height: 100%;

                    gap: 25px;

                    div {
                        display: flex;

                        padding: 0.5%;

                        border-radius: 4px;

                        background-color: #FFF;

                        input {
                            width: 100%;

                            border: none;
                            outline: none;

                            padding: 2%;
                        }

                        button {
                            background-color: $primary-color;

                            padding: 2.5%;

                            height: 100%;

                            cursor: pointer;

                            border: none;
                            border-radius: 4px;
                            outline: none;

                            &:hover {
                                background-color: $secundary-color;
                            }
                        }
                    }
                }
            }
        }

        .footerBottomWrapper {
            display: flex;
            flex-direction: column;

            gap: 20px;
            text-align: center;
        }

    }
}

.gray-paragraphs {
    color: $gray-paragraphs-text-color;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.white-paragraphs {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

@media (max-width: 1800px) {
    .container {
        header {
            display: flex;
        }

        main {
            .homeSection {
                .homeSectionLeftWrapper {

                    .homeSectionLeftWrapperBoxContant {

                        h1 {
                            font-size: 32px;
                        }

                        p {
                            font-size: 15px;
                        }

                        h2 {
                            font-size: 22px;
                        }
                    }
                }

                img {
                    width: 120%;
                }
            }
        }
    }
}

@media (max-width: 1440px) {
    .container {
        header {
            display: none;
        }

        main {
            .homeSection {
                padding-top: 25%;

                .homeSectionLeftWrapper {

                    .homeSectionLeftWrapperBoxContant {

                        h1 {
                            font-size: 24px;
                        }

                        p {
                            font-size: 7px;
                        }

                        h2 {
                            font-size: 14px;
                        }
                    }
                }

                img {
                    width: 80%;
                }
            }
        }
    }
}

@media (max-width: 780px) {
    .container {
        main {
            .homeSection {
                flex-direction: column;
                justify-content: center;
                align-items: center;

                padding-top: 40%;

                gap: 20px;

                .homeSectionLeftWrapper {
                    .homeSectionLeftWrapperBoxContant {
                        width: 75%;
                        height: 85%;

                        top: 8%;
                        right: 20%;
                    }

                    img {
                        width: 80%;
                    }
                }

                .homeSectionRigthWrapper {
                    display: flex;
                    justify-content: center;

                    padding-left: 20%;
                }


            }

            .aboutSectionBottomContainer {
                flex-direction: column;
                align-items: center;

                .aboutSectionBottomContainerLeftWrapper {
                    padding-bottom: 10%;
                }
            }

            .featuresSection {
                .featuresSectionAppInterface {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: center;

                    gap: 50px;

                    .featuresSectionAppInterfaceSurfacesTextBox {
                        align-items: center;

                        padding: 0;

                        width: 100%;
                    }

                    .featuresSectionAppInterfaceLeftSideTextBox {
                        align-items: center;
                        text-align: center;

                        padding: 0;
                    }

                    .featuresSectionAppInterfaceRigthSideTextBox {
                        align-items: center;
                        text-align: center;

                        padding: 0;
                    }
                }
            }
        }
    }
}