* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Josefin Sans, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container header {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 2%;
  gap: 20px;
  width: 80%;
}
.container header .headerTopWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.container header .headerTopWrapper .headerTopWrapperContactButtons {
  display: flex;
  gap: 10px;
}
.container header .headerTopWrapper .headerTopWrapperContactButtons span {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}
.container header .headerTopWrapper .headerTopWrapperContactButtons span p {
  color: var(--white, #FFF);
  font-size: small;
  font-style: normal;
  font-weight: 500;
}
.container header .headerTopWrapper .headerTopWrapperSocialMidiasButtons .socialMidiasButtonsContant {
  display: flex;
  gap: 20px;
}
.container header .headerTopWrapper .headerTopWrapperSocialMidiasButtons .socialMidiasButtonsContant img {
  cursor: pointer;
  width: 18px;
  height: 18px;
}
.container header .headerBottomWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FFF;
  border-radius: 5px;
  height: 60px;
  padding: 2%;
}
.container header .headerBottomWrapper span {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}
.container header .headerBottomWrapper span .headerBottomWrapperNavBarButton {
  color: #232233;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
}
.container header .headerBottomWrapper span .headerBottomWrapperNavBarButton:hover {
  color: #5956E9;
  text-decoration-line: underline;
}
.container header .headerBottomWrapper span .headerBottomWrapperNavBarDownloadButton {
  background-color: #5956E9;
  padding: 2%;
  color: #FFF;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  text-decoration: none;
}
.container header .headerBottomWrapper span .headerBottomWrapperNavBarDownloadButton:hover {
  background-color: #4745d8;
}
.container header .headerBottomWrapper .headerBottomWrapperApollyButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  width: 12.5rem;
  height: 5.625rem;
  flex-shrink: 0;
  border-radius: 0.3125rem;
}
.container main {
  width: 100%;
}
.container main .homeSection {
  display: flex;
  justify-content: center;
  padding: 5%;
  padding-top: 15%;
  background-image: url("/src/assets/background/bg-img.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.container main .homeSection .homeSectionLeftWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
}
.container main .homeSection .homeSectionLeftWrapper .homeSectionLeftWrapperBoxContant {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  height: 75%;
  gap: 5%;
  padding: 2%;
  position: absolute;
  right: 30%;
  top: 10%;
  background-color: #FFF;
}
.container main .homeSection .homeSectionLeftWrapper .homeSectionLeftWrapperBoxContant h1 {
  color: #5956E9;
  font-size: 48.8301px;
}
.container main .homeSection .homeSectionLeftWrapper .homeSectionLeftWrapperBoxContant h2 {
  font-size: 25px;
}
.container main .homeSection .homeSectionLeftWrapper .homeSectionLeftWrapperBoxContant div div img {
  width: 25%;
  cursor: pointer;
}
.container main .homeSection .homeSectionLeftWrapper img {
  width: 50%;
}
.container main .homeSection img {
  width: 40.375rem;
}
.container main .aboutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  gap: 80px;
}
.container main .aboutSection span {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
}
.container main .aboutSection .aboutSectionBottomContainer {
  display: flex;
  justify-content: space-between;
  gap: 20%;
}
.container main .aboutSection .aboutSectionBottomContainer .aboutSectionBottomContainerLeftWrapper {
  width: 75%;
}
.container main .aboutSection .aboutSectionBottomContainer .aboutSectionBottomContainerRigthWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 80px;
}
.container main .aboutSection .aboutSectionBottomContainer .aboutSectionBottomContainerRigthWrapper .aboutSectionTextBoxContant {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container main .aboutSection .aboutSectionBottomContainer .aboutSectionBottomContainerRigthWrapper .aboutSectionTextBoxContant div {
  display: flex;
  gap: 10px;
}
.container main .aboutSection .aboutSectionBottomContainer .aboutSectionBottomContainerRigthWrapper .aboutSectionTextBoxContant p {
  text-align: start;
}
.container main .featuresSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url("/src/assets/background/bg-img.svg");
  background-size: cover;
  color: #FFF;
  padding: 10%;
  gap: 50px;
}
.container main .featuresSection .featuresSectionAppInterface {
  display: grid;
  gap: 2%;
  grid-template-columns: repeat(3, 1fr);
}
.container main .featuresSection .featuresSectionAppInterface div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container main .featuresSection .featuresSectionAppInterface .text-box1 {
  grid-column: 1/4;
}
.container main .featuresSection .featuresSectionAppInterface .text-box2 {
  grid-row: 2/3;
  padding-top: 25%;
}
.container main .featuresSection .featuresSectionAppInterface .text-box3 {
  display: flex;
  justify-content: center;
  width: 100%;
  grid-row: 2/5;
}
.container main .featuresSection .featuresSectionAppInterface .text-box4 {
  grid-row: 2/3;
  padding-top: 25%;
}
.container main .featuresSection .featuresSectionAppInterface .text-box5 {
  grid-row: 4/5;
  padding-bottom: 25%;
}
.container main .featuresSection .featuresSectionAppInterface .text-box6 {
  grid-row: 4/5;
  padding-bottom: 25%;
}
.container main .featuresSection .featuresSectionAppInterface .text-box7 {
  grid-column: 1/4;
}
.container main .featuresSection .featuresSectionAppInterface .featuresSectionAppInterfaceSurfacesTextBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container main .featuresSection .featuresSectionAppInterface .featuresSectionAppInterfaceLeftSideTextBox {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: end;
}
.container main .featuresSection .featuresSectionAppInterface .featuresSectionAppInterfaceRigthSideTextBox {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
}
.container main .appInterfaceSection {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 5%;
  text-align: center;
}
.container main .appInterfaceSection .appInterfaceSectionMainSlider .swiper {
  max-width: 100vh;
}
.container main .appInterfaceSection .appInterfaceSectionMainSlider .swiper .swiper-wrapper .swiper-slide img {
  width: 30%;
}
.container main .appInterfaceSection .appInterfaceSectionBottomDownloadAppWrapper {
  display: flex;
  gap: 10%;
}
.container main .appInterfaceSection .appInterfaceSectionBottomDownloadAppWrapper .appInterfaceSectionDownloadAppWrapperLeftContantBox {
  display: flex;
  flex-direction: column;
  gap: 10%;
  text-align: start;
}
.container main .appInterfaceSection .appInterfaceSectionBottomDownloadAppWrapper .appInterfaceSectionDownloadAppWrapperLeftContantBox .downloadTextBoxContant {
  display: flex;
  flex-direction: column;
}
.container main .appInterfaceSection .appInterfaceSectionBottomDownloadAppWrapper .appInterfaceSectionDownloadAppWrapperLeftContantBox .downloadTextBoxContant div {
  display: flex;
  gap: 10%;
  cursor: pointer;
  width: 20%;
}
.container main .appInterfaceSection .appInterfaceSectionBottomDownloadAppWrapper .appInterfaceSectionDownloadAppWrapperLeftContantBox .ratingTextBox {
  display: flex;
  gap: 5%;
}
.container main .appInterfaceSection .appInterfaceSectionBottomDownloadAppWrapper .appInterfaceSectionDownloadAppWrapperLeftContantBox .ratingTextBox div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 2%;
  color: #FFF;
  border-radius: 0.625rem;
  gap: 15px;
  background-color: #5956E9;
}
.container main .appInterfaceSection .appInterfaceSectionBottomDownloadAppWrapper .appInterfaceSectionDownloadAppWrapperLeftContantBox .ratingTextBox div img {
  width: 25px;
}
.container main .appInterfaceSection .appInterfaceSectionBottomDownloadAppWrapper img {
  width: 100%;
}
.container main .howToUseSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  color: #FFF;
}
.container main .howToUseSection main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 30vh;
  background-image: url("/src/assets/background/bg-img.svg");
  background-size: 100%;
}
.container main .howToUseSection main p {
  width: 50%;
}
.container main .howToUseSection img {
  position: absolute;
  top: 50%;
  padding-top: 2.5%;
  width: 32%;
}
.container main .ourTeamSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 5%;
  padding-top: 20%;
  width: 100%;
}
.container main .ourTeamSection span {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container main .ourTeamSection span p {
  width: 50%;
}
.container main .ourTeamSection main {
  display: flex;
  gap: 5%;
}
.container main .ourTeamSection main .teamProfileContant .teamProfileContantSocialMidias {
  display: flex;
  justify-content: space-around;
}
.container main .ourTeamSection main .teamProfileContant .teamProfileContantSocialMidias img {
  cursor: pointer;
}
.container main .ourHappyCostumersSection {
  text-align: center;
  padding: 5%;
  background-image: url(/src/assets/background/bg-img.svg);
  background-size: 100%;
  color: #FFF;
}
.container main .ourHappyCostumersSection span {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.container main .ourHappyCostumersSection span p {
  width: 50%;
}
.container main .ourHappyCostumersSection .swiper {
  display: flex;
  flex-direction: column;
  width: 75vh;
  gap: 10px;
}
.container main .ourHappyCostumersSection .swiper .swiper-wrapper {
  display: flex;
}
.container main .ourHappyCostumersSection .swiper .swiper-wrapper .swiper-slide {
  color: #232233;
  border-radius: 10px;
  padding: 5%;
  background-color: #FFF;
}
.container main .ourHappyCostumersSection .swiper .swiper-pagination {
  display: flex;
  justify-content: center;
  position: static;
}
.container main .ourHappyCostumersSection .swiper .swiper-pagination span {
  height: 20px;
  width: 20px;
  background-color: #FFF;
}
.container main .ourRecentBlogSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
}
.container main .ourRecentBlogSection span {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}
.container main .ourRecentBlogSection span p {
  width: 50%;
}
.container main .ourRecentBlogSection .blogLinkContainer {
  display: flex;
  justify-content: space-around;
  gap: 5%;
}
.container main .ourRecentBlogSection .blogLinkContainer .blogLinkContant {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-decoration: none;
  color: #232233;
  transition: 0.5s;
}
.container main .ourRecentBlogSection .blogLinkContainer .blogLinkContant img {
  width: 100%;
}
.container main .ourRecentBlogSection .blogLinkContainer .blogLinkContant a {
  width: 200%;
}
.container main .ourRecentBlogSection .blogLinkContainer .blogLinkContant:hover {
  opacity: 80%;
}
.container footer {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 2%;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  background-color: #232233;
}
.container footer .footerTopWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 8%;
  background-color: #FFF;
  border-radius: 30px;
  width: 100%;
}
.container footer .footerTopWrapper .footerTopWrapperLeftTextBox, .container footer .footerTopWrapper .footerTopWrapperRigthTextBox {
  display: flex;
  align-items: center;
  gap: 2%;
  width: 100%;
}
.container footer .footerTopWrapper .footerTopWrapperLeftTextBox span, .container footer .footerTopWrapper .footerTopWrapperRigthTextBox span {
  background-color: #5956E9;
  padding: 4%;
  border-radius: 50px;
}
.container footer .footerTopWrapper .footerTopWrapperLeftTextBox span img, .container footer .footerTopWrapper .footerTopWrapperRigthTextBox span img {
  width: 25px;
}
.container footer .footerTopWrapper .footerTopWrapperRigthTextBox {
  border-left: 3px solid #6C6C72;
  padding-left: 2%;
}
.container footer .footerMainWrapper {
  display: flex;
  justify-content: space-around;
  color: #FFF;
  gap: 10%;
}
.container footer .footerMainWrapper div {
  width: 100%;
}
.container footer .footerMainWrapper .footerBottomWrapperLogoArea {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 25px;
}
.container footer .footerMainWrapper .footerBottomWrapperLogoArea div {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.container footer .footerMainWrapper .footerBottomWrapperLinksArea {
  display: flex;
  flex-direction: column;
  gap: 10%;
}
.container footer .footerMainWrapper .footerBottomWrapperLinksArea div {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 15%;
}
.container footer .footerMainWrapper .footerBottomWrapperLinksArea div a {
  text-decoration: none;
  color: #FFF;
}
.container footer .footerMainWrapper .footerBottomWrapperLinksArea div a:hover {
  text-decoration: underline;
}
.container footer .footerMainWrapper .footerBottomWrapperNewsLetterArea form {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 25px;
}
.container footer .footerMainWrapper .footerBottomWrapperNewsLetterArea form div {
  display: flex;
  padding: 0.5%;
  border-radius: 4px;
  background-color: #FFF;
}
.container footer .footerMainWrapper .footerBottomWrapperNewsLetterArea form div input {
  width: 100%;
  border: none;
  outline: none;
  padding: 2%;
}
.container footer .footerMainWrapper .footerBottomWrapperNewsLetterArea form div button {
  background-color: #5956E9;
  padding: 2.5%;
  height: 100%;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  outline: none;
}
.container footer .footerMainWrapper .footerBottomWrapperNewsLetterArea form div button:hover {
  background-color: #4745d8;
}
.container footer .footerBottomWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.gray-paragraphs {
  color: #6C6C72;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.white-paragraphs {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

@media (max-width: 1800px) {
  .container header {
    display: flex;
  }
  .container main .homeSection .homeSectionLeftWrapper .homeSectionLeftWrapperBoxContant h1 {
    font-size: 32px;
  }
  .container main .homeSection .homeSectionLeftWrapper .homeSectionLeftWrapperBoxContant p {
    font-size: 15px;
  }
  .container main .homeSection .homeSectionLeftWrapper .homeSectionLeftWrapperBoxContant h2 {
    font-size: 22px;
  }
  .container main .homeSection img {
    width: 120%;
  }
}
@media (max-width: 1440px) {
  .container header {
    display: none;
  }
  .container main .homeSection {
    padding-top: 25%;
  }
  .container main .homeSection .homeSectionLeftWrapper .homeSectionLeftWrapperBoxContant h1 {
    font-size: 24px;
  }
  .container main .homeSection .homeSectionLeftWrapper .homeSectionLeftWrapperBoxContant p {
    font-size: 7px;
  }
  .container main .homeSection .homeSectionLeftWrapper .homeSectionLeftWrapperBoxContant h2 {
    font-size: 14px;
  }
  .container main .homeSection img {
    width: 80%;
  }
}
@media (max-width: 780px) {
  .container main .homeSection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40%;
    gap: 20px;
  }
  .container main .homeSection .homeSectionLeftWrapper .homeSectionLeftWrapperBoxContant {
    width: 75%;
    height: 85%;
    top: 8%;
    right: 20%;
  }
  .container main .homeSection .homeSectionLeftWrapper img {
    width: 80%;
  }
  .container main .homeSection .homeSectionRigthWrapper {
    display: flex;
    justify-content: center;
    padding-left: 20%;
  }
  .container main .aboutSectionBottomContainer {
    flex-direction: column;
    align-items: center;
  }
  .container main .aboutSectionBottomContainer .aboutSectionBottomContainerLeftWrapper {
    padding-bottom: 10%;
  }
}

/*# sourceMappingURL=style.css.map */
