* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Josefin Sans, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  min-height: 200vh;
  background-image: url("/src/assets/background/bg-img.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.container header {
  display: flex;
  flex-direction: column;
  padding: 2%;
  gap: 20px;
  width: 80%;
}
.container header .headerTopWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.container header .headerTopWrapper .headerTopWrapperContactButtons {
  display: flex;
  gap: 10px;
}
.container header .headerTopWrapper .headerTopWrapperContactButtons span {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 2px solid transparent;
  transition: 0.2s;
  cursor: pointer;
}
.container header .headerTopWrapper .headerTopWrapperContactButtons span:hover {
  border-bottom-color: #FFF;
}
.container header .headerTopWrapper .headerTopWrapperContactButtons span img {
  width: 18px;
  height: 18px;
}
.container header .headerTopWrapper .headerTopWrapperContactButtons span p {
  color: var(--white, #FFF);
  font-size: small;
  font-style: normal;
  font-weight: 500;
}
.container header .headerTopWrapper .headerTopWrapperSocialMidiasButtons .socialMidiasButtonsContant {
  display: flex;
  gap: 20px;
}
.container header .headerTopWrapper .headerTopWrapperSocialMidiasButtons .socialMidiasButtonsContant img {
  cursor: pointer;
  width: 18px;
  height: 18px;
}
.container header .headerBottomWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3.75rem;
  padding: 2%;
  background-color: #FFF;
  border-radius: 5px;
}
.container header .headerBottomWrapper span {
  display: flex;
  align-items: center;
  gap: 20px;
}
.container header .headerBottomWrapper span .headerBottomWrapperNavBarButton {
  color: #232233;
  text-decoration: none;
  height: auto;
  width: auto;
  font-size: larger;
  font-style: normal;
  font-weight: 500;
}
.container header .headerBottomWrapper span .headerBottomWrapperNavBarButton:hover {
  color: #5956E9;
  text-decoration-line: underline;
}
.container header .headerBottomWrapper span .headerBottomWrapperNavBarDownloadButton {
  background-color: #5956E9;
  padding: 5%;
  color: #FFF;
  border-radius: 5px;
  transition: 0.2s;
  text-decoration: none;
}
.container header .headerBottomWrapper span .headerBottomWrapperNavBarDownloadButton:hover {
  background-color: #4745d8;
}
.container header .headerBottomWrapper .headerBottomWrapperApollyButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  padding: 2%;
  width: 12.5rem;
  height: 5.625rem;
  flex-shrink: 0;
  border-radius: 0.3125rem;
}
.container .homeSection {
  display: flex;
  gap: 50px;
  padding-left: 2%;
  padding-right: 2%;
}
.container .homeSection .homeSectionLeftWrapper {
  display: grid;
  place-content: center;
  position: relative;
}
.container .homeSection .homeSectionLeftWrapper .homeSectionLeftWrapperBoxContant {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 40px;
  top: 25%;
  right: 50px;
  padding: 5%;
  background-color: #FFF;
}
.container .homeSection .homeSectionLeftWrapper .homeSectionLeftWrapperBoxContant h1 {
  color: #5956E9;
  font-size: 3.05188rem;
  font-style: normal;
  font-weight: 700;
}
.container .homeSection .homeSectionLeftWrapper .homeSectionLeftWrapperBoxContant p {
  color: #6C6C72;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}
.container .homeSection .homeSectionLeftWrapper .homeSectionLeftWrapperBoxContant div div img {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
