* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Josefin Sans, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container header {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 2%;
  gap: 20px;
  width: 80%;
}
.container header .headerTopWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.container header .headerTopWrapper .headerTopWrapperContactButtons {
  display: flex;
  gap: 10px;
}
.container header .headerTopWrapper .headerTopWrapperContactButtons span {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 2px solid transparent;
  transition: 0.2s;
  cursor: pointer;
}
.container header .headerTopWrapper .headerTopWrapperContactButtons span:hover {
  border-bottom-color: #FFF;
}
.container header .headerTopWrapper .headerTopWrapperContactButtons span img {
  width: 18px;
  height: 18px;
}
.container header .headerTopWrapper .headerTopWrapperContactButtons span p {
  color: var(--white, #FFF);
  font-size: small;
  font-style: normal;
  font-weight: 500;
}
.container header .headerTopWrapper .headerTopWrapperSocialMidiasButtons .socialMidiasButtonsContant {
  display: flex;
  gap: 20px;
}
.container header .headerTopWrapper .headerTopWrapperSocialMidiasButtons .socialMidiasButtonsContant img {
  cursor: pointer;
  width: 18px;
  height: 18px;
}
.container header .headerBottomWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3.75rem;
  padding: 2%;
  background-color: #FFF;
  border-radius: 5px;
}
.container header .headerBottomWrapper span {
  display: flex;
  align-items: center;
  gap: 20px;
}
.container header .headerBottomWrapper span .headerBottomWrapperNavBarButton {
  color: #232233;
  text-decoration: none;
  height: auto;
  width: auto;
  font-size: larger;
  font-style: normal;
  font-weight: 500;
}
.container header .headerBottomWrapper span .headerBottomWrapperNavBarButton:hover {
  color: #5956E9;
  text-decoration-line: underline;
}
.container header .headerBottomWrapper span .headerBottomWrapperNavBarDownloadButton {
  background-color: #5956E9;
  padding: 5%;
  color: #FFF;
  border-radius: 5px;
  text-decoration: none;
}
.container header .headerBottomWrapper span .headerBottomWrapperNavBarDownloadButton:hover {
  background-color: #4745d8;
}
.container header .headerBottomWrapper .headerBottomWrapperApollyButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  padding: 2%;
  width: 12.5rem;
  height: 5.625rem;
  flex-shrink: 0;
  border-radius: 0.3125rem;
}
.container main .homeSection {
  display: flex;
  justify-content: space-between;
  padding: 5%;
  padding-top: 15%;
  width: 100%;
  height: 100%;
  background-image: url("/./src/assets/background/bg-img.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.container main .homeSection .homeSectionLeftWrapper {
  display: grid;
  place-content: center;
  position: relative;
}
.container main .homeSection .homeSectionLeftWrapper .homeSectionLeftWrapperBoxContant {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 25%;
  right: 50px;
  gap: 40px;
  padding: 5%;
  background-color: #FFF;
}
.container main .homeSection .homeSectionLeftWrapper .homeSectionLeftWrapperBoxContant h1 {
  color: #5956E9;
  font-size: 3.05188rem;
  font-style: normal;
  font-weight: 700;
}
.container main .homeSection .homeSectionLeftWrapper .homeSectionLeftWrapperBoxContant div div img {
  cursor: pointer;
}
.container main .aboutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  gap: 80px;
  text-align: center;
}
.container main .aboutSection .aboutSectionBottomContainer {
  display: flex;
  gap: 25%;
}
.container main .aboutSection .aboutSectionBottomContainer .aboutSectionBottomContainerRigthWrapper {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.container main .aboutSection .aboutSectionBottomContainer .aboutSectionBottomContainerRigthWrapper .aboutSectionTextBoxContant {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container main .aboutSection .aboutSectionBottomContainer .aboutSectionBottomContainerRigthWrapper .aboutSectionTextBoxContant div {
  display: flex;
  gap: 10px;
}
.container main .aboutSection .aboutSectionBottomContainer .aboutSectionBottomContainerRigthWrapper .aboutSectionTextBoxContant p {
  text-align: start;
}
.container main .featuresSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url("/src/assets/background/bg-img.svg");
  background-size: cover;
  color: #FFF;
  padding: 10%;
  gap: 50px;
}
.container main .featuresSection .featuresSectionAppInterface {
  display: grid;
  gap: 2%;
  grid-template-columns: repeat(3, 1fr);
}
.container main .featuresSection .featuresSectionAppInterface div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container main .featuresSection .featuresSectionAppInterface .text-box1 {
  grid-column: 1/4;
}
.container main .featuresSection .featuresSectionAppInterface .text-box2 {
  grid-row: 2/3;
  padding-top: 25%;
}
.container main .featuresSection .featuresSectionAppInterface .text-box3 {
  display: flex;
  justify-content: center;
  width: 100%;
  grid-row: 2/5;
}
.container main .featuresSection .featuresSectionAppInterface .text-box4 {
  grid-row: 2/3;
  padding-top: 25%;
}
.container main .featuresSection .featuresSectionAppInterface .text-box5 {
  grid-row: 4/5;
  padding-bottom: 25%;
}
.container main .featuresSection .featuresSectionAppInterface .text-box6 {
  grid-row: 4/5;
  padding-bottom: 25%;
}
.container main .featuresSection .featuresSectionAppInterface .text-box7 {
  grid-column: 1/4;
}
.container main .featuresSection .featuresSectionAppInterface .featuresSectionAppInterfaceSurfacesTextBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container main .featuresSection .featuresSectionAppInterface .featuresSectionAppInterfaceLeftSideTextBox {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: end;
}
.container main .featuresSection .featuresSectionAppInterface .featuresSectionAppInterfaceRigthSideTextBox {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
}
.container main .appInterfaceSection {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 5%;
  text-align: center;
}
.container main .appInterfaceSection .appInterfaceSectionMainSlider .swiper {
  max-width: 100vh;
}
.container main .appInterfaceSection .appInterfaceSectionMainSlider .swiper .swiper-wrapper .swiper-slide img {
  width: 30%;
}
.container main .appInterfaceSection .appInterfaceSectionBottomDownloadAppWrapper {
  display: flex;
  gap: 10%;
}
.container main .appInterfaceSection .appInterfaceSectionBottomDownloadAppWrapper .appInterfaceSectionDownloadAppWrapperLeftContantBox {
  display: flex;
  flex-direction: column;
  gap: 10%;
  text-align: start;
}
.container main .appInterfaceSection .appInterfaceSectionBottomDownloadAppWrapper .appInterfaceSectionDownloadAppWrapperLeftContantBox .downloadTextBoxContant {
  display: flex;
  flex-direction: column;
}
.container main .appInterfaceSection .appInterfaceSectionBottomDownloadAppWrapper .appInterfaceSectionDownloadAppWrapperLeftContantBox .downloadTextBoxContant div {
  display: flex;
  gap: 10%;
  cursor: pointer;
  width: 20%;
}
.container main .appInterfaceSection .appInterfaceSectionBottomDownloadAppWrapper .appInterfaceSectionDownloadAppWrapperLeftContantBox .ratingTextBox {
  display: flex;
  gap: 5%;
}
.container main .appInterfaceSection .appInterfaceSectionBottomDownloadAppWrapper .appInterfaceSectionDownloadAppWrapperLeftContantBox .ratingTextBox div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 2%;
  color: #FFF;
  border-radius: 0.625rem;
  gap: 15px;
  background-color: #5956E9;
}
.container main .appInterfaceSection .appInterfaceSectionBottomDownloadAppWrapper .appInterfaceSectionDownloadAppWrapperLeftContantBox .ratingTextBox div img {
  width: 25px;
}
.container main .appInterfaceSection .appInterfaceSectionBottomDownloadAppWrapper img {
  width: 100%;
}
.container footer {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 2%;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  background-color: #232233;
}
.container footer .footerTopWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 8%;
  background-color: #FFF;
  border-radius: 30px;
  width: 100%;
}
.container footer .footerTopWrapper .footerTopWrapperLeftTextBox, .container footer .footerTopWrapper .footerTopWrapperRigthTextBox {
  display: flex;
  align-items: center;
  gap: 2%;
  width: 100%;
}
.container footer .footerTopWrapper .footerTopWrapperLeftTextBox span, .container footer .footerTopWrapper .footerTopWrapperRigthTextBox span {
  background-color: #5956E9;
  padding: 4%;
  border-radius: 50px;
}
.container footer .footerTopWrapper .footerTopWrapperLeftTextBox span img, .container footer .footerTopWrapper .footerTopWrapperRigthTextBox span img {
  width: 25px;
}
.container footer .footerTopWrapper .footerTopWrapperRigthTextBox {
  border-left: 3px solid #6C6C72;
  padding-left: 2%;
}
.container footer .footerMainWrapper {
  display: flex;
  justify-content: space-around;
  color: #FFF;
  gap: 10%;
}
.container footer .footerMainWrapper div {
  width: 100%;
}
.container footer .footerMainWrapper .footerBottomWrapperLogoArea {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 25px;
}
.container footer .footerMainWrapper .footerBottomWrapperLogoArea div {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.container footer .footerMainWrapper .footerBottomWrapperLinksArea {
  display: flex;
  flex-direction: column;
  gap: 10%;
}
.container footer .footerMainWrapper .footerBottomWrapperLinksArea div {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 15%;
}
.container footer .footerMainWrapper .footerBottomWrapperLinksArea div a {
  text-decoration: none;
  color: #FFF;
}
.container footer .footerMainWrapper .footerBottomWrapperLinksArea div a:hover {
  text-decoration: underline;
}
.container footer .footerMainWrapper .footerBottomWrapperNewsLetterArea {
  display: flex;
  flex-direction: column;
  gap: 15%;
}
.container footer .footerMainWrapper .footerBottomWrapperNewsLetterArea div {
  display: flex;
  padding: 0.5%;
  border-radius: 4px;
  background-color: #FFF;
}
.container footer .footerMainWrapper .footerBottomWrapperNewsLetterArea div input {
  width: 100%;
  border: none;
  outline: none;
  padding: 2%;
}
.container footer .footerMainWrapper .footerBottomWrapperNewsLetterArea div button {
  background-color: #5956E9;
  padding: 2.5%;
  height: 100%;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  outline: none;
}
.container footer .footerMainWrapper .footerBottomWrapperNewsLetterArea div button:hover {
  background-color: #4745d8;
}
.container footer .footerBottomWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.gray-paragraphs {
  color: #6C6C72;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.white-paragraphs {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
